networks:
  frontend:
    external: true # <-- (Optional) Change this to false if you want to create a new network

volumes:
  nginxproxymanager-data:
    external: true # <-- (Optional) Change this to false if you want to create a new volume
  nginxproxymanager-ssl:
    external: true # <-- (Optional) Change this to false if you want to create a new volume

services:
  nginxproxymanager:
    image: docker.io/jc21/nginx-proxy-manager:2.13.5
    container_name: nginx-proxy-manager
    restart: unless-stopped
    ports:
      - 80:80    # <-- HTTP traffic
      - 81:81    # <-- Admin panel (HTTP)
      - 443:443  # <-- HTTPS traffic
    volumes:
      - nginxproxymanager-data:/data
      - nginxproxymanager-ssl:/etc/letsencrypt
    environment:
      - TZ=Europe/Istanbul                            # <-- Change this to your timezone
      - DB_MYSQL_HOST={{ .ENV.MARIADB_HOST }}         # <-- Change this to your MariaDB container name
      - DB_MYSQL_PORT={{ .ENV.MARIADB_PORT }}         # <-- Change this to your MariaDB port (default: 3306)
      - DB_MYSQL_USER={{ .ENV.MARIADB_USER }}         # <-- Change this to your MariaDB username
      - DB_MYSQL_PASSWORD={{ .ENV.MARIADB_PASSWORD }} # <-- Change this to your MariaDB password
      - DB_MYSQL_NAME={{ .ENV.MARIADB_DB_NAME }}      # <-- Change this to your MariaDB database name
    networks:
      - frontend
