---
networks:
  frontend:
    external: true # <-- (Optional) Change this to false if you want to create a new network
  backend:
    external: true # <-- (Optional) Change this to false if you want to create a new network

volumes:
  authelia-data:
    external: true # <-- (Optional) Change this to false if you want to create a new volume

services:
  authelia:
    image: authelia/authelia:4.39.14
    container_name: authelia
    restart: unless-stopped
    expose:
      - 9091 # <-- Map Authelia port for local access
    volumes:
      - authelia-data:/config
    environment:
      - TZ=Europe/Istanbul # <-- Change this to your timezone
    labels:
      - 'traefik.enable=true'                                                                                                     # <-- Enable Traefik for this service
      - 'traefik.http.routers.authelia.rule=Host(`{{ .ENV.AUTH_DOMAIN }}`)'                                                       # <-- Change this to your domain
      - 'traefik.http.routers.authelia.entrypoints=websecure'                                                                     # <-- Change this to your entrypoint
      - 'traefik.http.routers.authelia.tls=true'                                                                                  # <-- Do not change this
      - 'traefik.http.middlewares.authelia.forwardauth.address=http://authelia:9091/api/verify?rd=https://{{ .ENV.AUTH_DOMAIN }}' # <-- Change this to your authelia address
      - 'traefik.http.middlewares.authelia.forwardauth.trustForwardHeader=true'                                                   # <-- Do not change this
      - 'traefik.http.middlewares.authelia.forwardauth.authResponseHeaders=Remote-User,Remote-Groups,Remote-Name,Remote-Email'    # <-- Do not change this
    networks:
      - frontend
      - backend