---
networks:
  frontend:
    external: true

services:
  twingate_connector:
    image: docker.io/twingate/connector:1.80.0
    container_name: twingate_connector
    restart: unless-stopped
    sysctls:
      net.ipv4.ping_group_range: "0 2147483647"
    environment:
      - TWINGATE_NETWORK={{ .ENV.TWINGATE_NETWORK }}
      - TWINGATE_ACCESS_TOKEN={{ .ENV.TWINGATE_ACCESS_TOKEN }}
      - TWINGATE_REFRESH_TOKEN={{ .ENV.TWINGATE_REFRESH_TOKEN }}
    networks:
      - frontend