---
networks:
  frontend:
    external: true # <-- (Optional) Change this to false if you want to create a new network
  backend:
    external: true # <-- (Optional) Change this to false if you want to create a new network

volumes:
  portainer-data:
    external: true # <-- (Optional) Change this to false if you want to create a new volume

services:
  portainer:
    image: portainer/portainer-ee:2.37.0
    container_name: portainer
    command: -H unix:///var/run/docker.sock
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer-data:/data
    environment:
      - TZ=Europe/Istanbul # <-- Change this to your timezone
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.portainer.rule=Host(`{{ .ENV.DOMAIN }}`)"  # <-- Change this to your domain
      - "traefik.http.routers.portainer.entrypoints=websecure"                  # <-- Change this to your entrypoint
      - "traefik.http.routers.portainer.tls=true"                               # <-- Do not change this
      - "traefik.http.routers.portainer.tls.certresolver=cloudflare"            # <-- Change this to your certresolver
      - "traefik.http.routers.portainer.service=portainer_service"              # <-- Change this to your service
      - "traefik.http.services.portainer_service.loadbalancer.server.port=9000" # <-- Change this to your portainer internal port (default: 9000)
      # - "traefik.http.routers.portainer.middlewares=authelia@docker"         # <-- Uncomment this line if you want to enable Authelia
    networks:
      - frontend
      - backend
