---
networks:
  frontend:
    external: true # <-- (Optional) Change this to false if you want to create a new network
  backend:
    external: true # <-- (Optional) Change this to false if you want to create a new network

volumes:
  traefik-data:
    external: true # <-- (Optional) Change this to false if you want to create a new volume
  traefik-certs:
    external: true # <-- (Optional) Change this to false if you want to create a new volume

services:
  traefik:
    image: docker.io/library/traefik:v3.5.4
    container_name: traefik
    restart: unless-stopped
    ports:
      - 80:80
      - 443:443
      # --> (Optional) Enable Dashboard, don't do in production
      # - 8080:8080
      # <--
    volumes:
      - /run/docker.sock:/run/docker.sock:ro
      - traefik-data:/etc/traefik:ro
      - traefik-certs:/var/traefik/certs:rw
    environment:
      - TZ=Europe/Istanbul         # <-- Change this to your timezone
      - CF_DNS_API_TOKEN={{ .ENV.CF_DNS_API_TOKEN }} # <-- Change this to your Cloudflare API Token
    networks:
      - frontend
      - backend
